.footer__container {
    padding: 0 25%;
    height: 5rem;
    line-height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    height: 3rem;
}

.contact-info__container {
    width: 10rem;
    background-color: yellowgreen;
}

.credits__container {
    width: 10rem;
    background-color: yellowgreen;
}