<div id="footer" class="footer__container">
    <div class="contact-info__container">
        <span>@ Copyright - Kasia Czapla</span>
    </div>
    <div class="links__container">
        <a href="https://github.com/crchs/" target="_blank">
            <img src="assets/images/github-logo.png">
        </a>
        <a href="https://trello.com/b/5kDJJYyU/we%C5%82na" target="_blank">
            <img src="assets/images/trello.png">
        </a>
        <a href="https://www.linkedin.com/in/katarzyna-olenycz/" target="_blank">
            <img src="assets/images/linkedin-logo.png">
        </a>
        <a href="mailto:kolenycz@gmail.com" target="_blank">
            <mat-icon>alternate_email</mat-icon>
        </a>
    </div>
    <div class="credits__container">
        <span>Images: <a href="https://www.vecteezy.com/free-vector/vector" target="_blank">vecteezy.com</a></span>
    </div>
</div>