.footer__container {
    padding: 0 20%;
    height: 4rem;
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(#ffd740, 0.8);

    @media (max-width: 600px) {
        padding: 0 3%;
    }
}

a,
a:visited {
    text-decoration: none;
    color: var(--base-color);
}

.links__container {
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.credits__container {
    @media (max-width: 600px) {
        display: none;
    }
}

.mat-icon {
    font-size: 32px;
}
