.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    &__item {
        width: 25%;
        margin-bottom: 2rem;

        @media (max-width: 800px) {
            width: 40%;
        }

        @media (max-width: 550px) {
            width: 90%;
        }

        &__header {
            height: 70px;
        }

        &__content {
            height: 250px;
        }

        &__image-container {
            max-height: 200px;
            overflow: hidden;
        }

        &__image {

        }
    }
}

mat-card-actions {
    position: absolute;
    bottom: 8px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}