.top-bar__container {
    padding: 0 10%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        padding: 0 3%;
        background-color: rgba(white, 0.8);
    }
}

.menu-link--active {
    font-weight: bold;
}

.top-bar__logo {
    margin-top: 1rem;
    width: 11rem;

    &__image {
        width: 100%;
    }

    @media (max-width: 600px) {
        width: 9rem;
    }
}

.login {
    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        margin-left: 1rem;
        //TODO remove when account management implemented
        display: none;
    }
}
